<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>SmartyTest</title>
</head>
<body>
    <h2>{$username}</h2>
    <h3>{$age}</h3>
    <pre>
        {var_dump($smarty.env)}
    </pre>
    <h5>{$smarty.now}</h5>
    {config_load file='base.conf'}
    <h6>{#FONT_SIZE#}</h6>
    <h6>{$smarty.config.FONT_COLOR}</h6>
</body>
</html>